html
  head
    title= title
  body
    h1 HI---!!!
    ul
      li hi
      li what
      a(href="") link
      ul
        each val, index in users
          li= index + ': ' + val
      a(href="create") add name