include layout/_head.pug
body
  header.header
    .container
      a.logo(href="")
      nav.menu
        ul.menu_list
          li Home
          li About
          li Contact
  main.main
    section.content
      section.content_items
        article.content_item
          p.content_post Post
      section.box
        article.box_login
          h3 Login
        article.box_
          h3 Box

  footer.footer 2019
include layout/_footer.pug