.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: $headerHeight;
    font-size: 15px;
    background-color: $primaryColor;
    opacity: 0.9;
    z-index: 1000;
    //border: 1px red solid;

    .container {
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 $freeSpace 0 $freeSpace;
        //border: 1px rgb(136, 255, 0) solid;

        .logo {
            //display: flex;
            background-image: url('../../images/logo/logo.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: lightcoral;
            width: 120px;
            height: $headerHeight - 3;
            margin-top: 3px;
            // border: 1px yellow solid;
        }

        .menu {
            display: flex;
            list-style: none;
            height: 100%;
            align-items: center;
        }
    }
}